<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @work.name %>
</p>

<p>
  <b>Url:</b>
  <%= @work.url %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @work.descripcion %>
</p>
<p>
	<b>Imagen:</b>
	<%= @work.image %>
</p>


<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
