<div class="hero-unit">
  <h1>Bievenidos a e-Clay</h1>
  <p>Si necesitas una página web, diseño, branding, aplicaciones moviles no olvides en consultar nuestra seccion
  	de servicios, si tienes dudas o consultas puede dirigirte a nuestro formulario de contacto</p>
  <p>
    <a class="btn btn-primary btn-large">
      Servicios
    </a>
  </p>
</div>
<div class="page-header">
  	<h1>Trabajos <small>nuestras últimas creaciones</small></h1>
</div>
<div class="row-fluid">
    <ul class="thumbnails">
    	<% @works.each do |work| %>
	      	<li class="span4">
	            <div class="thumbnail">
                <% if work.image.to_s == "none" %>
	               <%= holder_tag '300x200' %>
                <% else %>
                  <%= image_tag work.image("medium") %>
                <% end %>
	              <div class="caption">
	                <h3><%= work.name %></h3>
                  <p><%= work.descripcion%></p>
                  <p><a href="<%= work.url %>" class="btn btn-primary btn-large btn-block">Ver página web</a></p>
	              </div>
	            </div>
	      	</li> 
      	<% end %>             
    </ul>
</div>